<header>
    <img
        src="https://media.licdn.com/dms/image/v2/D4D03AQGeqOkGJzidtA/profile-displayphoto-shrink_800_800/B4DZRRHrlxHkAc-/0/1736527756102?e=1743033600&v=beta&t=XU5C2dOaDQusr4sAKcfaQlIkWFEBT-N47j7jaFITQJQ"
        alt="Brendon Araújo - Profile Photo"
        width="130px"
        height="130px"
        loading="eager"
    />
    <h1>Brendon Araújo</h1>
</header>

<aside>
    <div class="container">
        <p>Full stack Developer | Angular | C# | Delphi</p>
        <p>Penha, Santa Catarina - Brasil</p>
        <p>Desenvolvedor de software desde 2020 atuando na área</p>
        <nav>
            <ul>
                <li>
                    <a href="" target="_blank" class="btn btn-primary">Download CV</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/brendon-araújo/" target="_blank" class="btn btn-secondary">Linkedin</a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img
                    src="https://img.icons8.com/?size=100&id=16713&format=png&color=000000"
                    alt="Ícon to whatsapp contact"
                    width="22px"
                    height="24px"
                />
                <figcaption>
                    <a href=""></a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>